#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock.selectable .card:not(.disabled) {
  cursor: pointer;
}

.card-stock .card.selectable:not(.disabled) {
  cursor: pointer;
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.card {
  display: inline-block;
  position: relative;
  width: 142px;
  height: 198px;
  border-radius: 8px;
}
.card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card .card-sides .card-side {
  border-radius: 8px;
}
.card .card-sides .card-side > * {
  pointer-events: all !important;
  user-select: none;
}
.card .card-sides .card-side.back {
  background-size: auto 100%;
  background-image: url("img/card-back.jpg");
}
.card .card-sides .card-side.front[data-type="0"] {
  background-size: auto 100%;
}
.card .card-sides .card-side.front[data-type="0"][data-player-color=ffe400] {
  background-image: url("img/cards-ffe400.jpg");
}
.card .card-sides .card-side.front[data-type="0"][data-player-color="044396"] {
  background-image: url("img/cards-044396.jpg");
}
.card .card-sides .card-side.front[data-type="0"][data-player-color=f29fc4] {
  background-image: url("img/cards-f29fc4.jpg");
}
.card .card-sides .card-side.front[data-type="0"][data-player-color=e7313a] {
  background-image: url("img/cards-e7313a.jpg");
}
.card .card-sides .card-side.front[data-type="0"][data-player-color="98d1c6"] {
  background-image: url("img/cards-98d1c6.jpg");
}
.card .card-sides .card-side.front[data-type="0"][data-player-color="9f79b5"] {
  background-image: url("img/cards-9f79b5.jpg");
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="1"] {
  background-position-x: 0%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="2"] {
  background-position-x: 14.2857142857%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="3"] {
  background-position-x: 28.5714285714%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="4"] {
  background-position-x: 42.8571428571%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="5"] {
  background-position-x: 57.1428571429%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="6"] {
  background-position-x: 71.4285714286%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="7"] {
  background-position-x: 85.7142857143%;
}
.card .card-sides .card-side.front[data-type="0"][data-sub-type="8"] {
  background-position-x: 100%;
}
.card .card-sides .card-side.front[data-level="1"] {
  background-size: auto 400%;
  background-image: url("img/cards-level1.jpg");
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="1"] {
  background-position: 0% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="2"] {
  background-position: 5.8823529412% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="3"] {
  background-position: 11.7647058824% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="4"] {
  background-position: 17.6470588235% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="5"] {
  background-position: 23.5294117647% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="6"] {
  background-position: 29.4117647059% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="7"] {
  background-position: 35.2941176471% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="8"] {
  background-position: 41.1764705882% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="9"] {
  background-position: 47.0588235294% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="10"] {
  background-position: 52.9411764706% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="11"] {
  background-position: 58.8235294118% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="12"] {
  background-position: 64.7058823529% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="13"] {
  background-position: 70.5882352941% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="14"] {
  background-position: 76.4705882353% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="15"] {
  background-position: 82.3529411765% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="16"] {
  background-position: 88.2352941176% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="17"] {
  background-position: 94.1176470588% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="1"][data-sub-type="18"] {
  background-position: 100% 0%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="1"] {
  background-position: 0% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="2"] {
  background-position: 5.8823529412% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="3"] {
  background-position: 11.7647058824% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="4"] {
  background-position: 17.6470588235% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="5"] {
  background-position: 23.5294117647% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="6"] {
  background-position: 29.4117647059% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="7"] {
  background-position: 35.2941176471% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="8"] {
  background-position: 41.1764705882% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="9"] {
  background-position: 47.0588235294% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="10"] {
  background-position: 52.9411764706% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="11"] {
  background-position: 58.8235294118% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="12"] {
  background-position: 64.7058823529% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="13"] {
  background-position: 70.5882352941% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="14"] {
  background-position: 76.4705882353% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="15"] {
  background-position: 82.3529411765% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="16"] {
  background-position: 88.2352941176% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="17"] {
  background-position: 94.1176470588% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="2"][data-sub-type="18"] {
  background-position: 100% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="1"] {
  background-position: 0% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="2"] {
  background-position: 5.8823529412% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="3"] {
  background-position: 11.7647058824% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="4"] {
  background-position: 17.6470588235% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="5"] {
  background-position: 23.5294117647% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="6"] {
  background-position: 29.4117647059% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="7"] {
  background-position: 35.2941176471% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="8"] {
  background-position: 41.1764705882% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="9"] {
  background-position: 47.0588235294% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="10"] {
  background-position: 52.9411764706% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="11"] {
  background-position: 58.8235294118% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="12"] {
  background-position: 64.7058823529% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="13"] {
  background-position: 70.5882352941% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="14"] {
  background-position: 76.4705882353% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="15"] {
  background-position: 82.3529411765% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="16"] {
  background-position: 88.2352941176% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="17"] {
  background-position: 94.1176470588% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="3"][data-sub-type="18"] {
  background-position: 100% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="1"] {
  background-position: 0% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="2"] {
  background-position: 5.8823529412% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="3"] {
  background-position: 11.7647058824% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="4"] {
  background-position: 17.6470588235% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="5"] {
  background-position: 23.5294117647% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="6"] {
  background-position: 29.4117647059% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="7"] {
  background-position: 35.2941176471% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="8"] {
  background-position: 41.1764705882% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="9"] {
  background-position: 47.0588235294% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="10"] {
  background-position: 52.9411764706% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="11"] {
  background-position: 58.8235294118% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="12"] {
  background-position: 64.7058823529% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="13"] {
  background-position: 70.5882352941% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="14"] {
  background-position: 76.4705882353% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="15"] {
  background-position: 82.3529411765% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="16"] {
  background-position: 88.2352941176% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="17"] {
  background-position: 94.1176470588% 100%;
}
.card .card-sides .card-side.front[data-level="1"][data-type="4"][data-sub-type="18"] {
  background-position: 100% 100%;
}
.card .card-sides .card-side.front[data-level="2"] {
  background-size: auto 400%;
  background-image: url("img/cards-level2.jpg");
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="1"] {
  background-position: 0% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="2"] {
  background-position: 9.0909090909% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="3"] {
  background-position: 18.1818181818% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="4"] {
  background-position: 27.2727272727% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="5"] {
  background-position: 36.3636363636% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="6"] {
  background-position: 45.4545454545% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="7"] {
  background-position: 54.5454545455% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="8"] {
  background-position: 63.6363636364% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="9"] {
  background-position: 72.7272727273% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="10"] {
  background-position: 81.8181818182% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="11"] {
  background-position: 90.9090909091% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="1"][data-sub-type="12"] {
  background-position: 100% 0%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="1"] {
  background-position: 0% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="2"] {
  background-position: 9.0909090909% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="3"] {
  background-position: 18.1818181818% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="4"] {
  background-position: 27.2727272727% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="5"] {
  background-position: 36.3636363636% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="6"] {
  background-position: 45.4545454545% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="7"] {
  background-position: 54.5454545455% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="8"] {
  background-position: 63.6363636364% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="9"] {
  background-position: 72.7272727273% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="10"] {
  background-position: 81.8181818182% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="11"] {
  background-position: 90.9090909091% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="2"][data-sub-type="12"] {
  background-position: 100% 33.3333333333%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="1"] {
  background-position: 0% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="2"] {
  background-position: 9.0909090909% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="3"] {
  background-position: 18.1818181818% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="4"] {
  background-position: 27.2727272727% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="5"] {
  background-position: 36.3636363636% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="6"] {
  background-position: 45.4545454545% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="7"] {
  background-position: 54.5454545455% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="8"] {
  background-position: 63.6363636364% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="9"] {
  background-position: 72.7272727273% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="10"] {
  background-position: 81.8181818182% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="11"] {
  background-position: 90.9090909091% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="3"][data-sub-type="12"] {
  background-position: 100% 66.6666666667%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="1"] {
  background-position: 0% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="2"] {
  background-position: 9.0909090909% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="3"] {
  background-position: 18.1818181818% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="4"] {
  background-position: 27.2727272727% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="5"] {
  background-position: 36.3636363636% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="6"] {
  background-position: 45.4545454545% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="7"] {
  background-position: 54.5454545455% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="8"] {
  background-position: 63.6363636364% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="9"] {
  background-position: 72.7272727273% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="10"] {
  background-position: 81.8181818182% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="11"] {
  background-position: 90.9090909091% 100%;
}
.card .card-sides .card-side.front[data-level="2"][data-type="4"][data-sub-type="12"] {
  background-position: 100% 100%;
}
.card .card-sides .card-side.front .frame {
  --left: unset;
  border: 3px dashed transparent;
  position: absolute;
  width: var(--width);
  left: var(--left);
  height: 23px;
}
.card .card-sides .card-side.front .frame[data-row="0"] {
  top: 92px;
}
.card .card-sides .card-side.front .frame[data-row="1"] {
  top: 126px;
}
.card .card-sides .card-side.front .frame[data-row="2"] {
  top: 160px;
}
.card .card-sides .card-side.front .frame.disabled {
  border-color: darkred;
}
.card .card-sides .card-side.front .frame.applied {
  border-color: lightgray;
}
.card .card-sides .card-side.front .frame.remaining {
  border-color: green;
}
.card .card-sides .card-side.front .frame.selectable {
  border-color: lightgreen;
  cursor: pointer;
}
.card .card-sides .card-side.front .frame.current {
  box-shadow: 0 0 3px 5px lightgreen;
}
.card .card-sides .card-side.front .frame.opened-right {
  right: 0 !important;
  border-right-width: 0;
}
.card .card-sides .card-side.front .frame.opened-left {
  left: 0 !important;
  border-left-width: 0;
}
.card[data-side=back] button {
  display: none;
}
.card.object {
  border-radius: 14px;
}
.card.object .card-sides .card-side {
  border-radius: 14px;
}
.card.object .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.card.object .card-sides .card-side.front {
  background-size: auto 100%;
  background-image: url("img/objects.jpg");
  box-shadow: 0px 0px 3px 2px black;
  cursor: not-allowed;
}
.card.object .card-sides .card-side.front[data-number="1"] {
  background-position-x: 0%;
}
.card.object .card-sides .card-side.front[data-number="2"] {
  background-position-x: 16.6666666667%;
}
.card.object .card-sides .card-side.front[data-number="3"] {
  background-position-x: 33.3333333333%;
}
.card.object .card-sides .card-side.front[data-number="4"] {
  background-position-x: 50%;
}
.card.object .card-sides .card-side.front[data-number="5"] {
  background-position-x: 66.6666666667%;
}
.card.object .card-sides .card-side.front[data-number="6"] {
  background-position-x: 83.3333333333%;
}
.card.object .card-sides .card-side.front[data-number="7"] {
  background-position-x: 100%;
}
.card.object.current-phase .card-sides .card-side.front {
  box-shadow: 0px 0px 3px 2px lightgreen;
}
.card.object.current-phase:not(.disabled) .card-sides .card-side.front {
  cursor: pointer;
}
.card.object:not(.current-phase) {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card.object.used {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card.object.used .card-sides .card-side.front {
  box-shadow: 0px 0px 3px 2px darkorange !important;
  cursor: not-allowed !important;
}

/*@keyframes selectable-card-animation {
    0% { 
      //background: var(--background-lighter);
      box-shadow: 0 0 3px 2px #FFFFFF;
    }
    100% { 
      //background: var(--background-darker);
      box-shadow: 0 0 5px 3px #FFFFFF;
    }
}*/
#table-center {
  margin: 5px;
}
#table-center #objects {
  margin-bottom: 8px;
}
#table-center #center-board {
  background: url("img/table-center.jpg");
  width: 800px;
  height: 550px;
  position: relative;
}
#table-center #center-board .hidden-deck {
  position: absolute;
}
#table-center #center-board .hidden-deck[data-type="1"] {
  left: 24px;
}
#table-center #center-board .hidden-deck[data-type="2"] {
  left: 226px;
}
#table-center #center-board .hidden-deck[data-type="3"] {
  left: 432px;
}
#table-center #center-board .hidden-deck[data-type="4"] {
  left: 633px;
}
#table-center #center-board .hidden-deck[data-level="1"] {
  top: 333px;
}
#table-center #center-board .hidden-deck[data-level="2"] {
  top: 23px;
}
#table-center .card-counter {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  box-shadow: 0 0 3px 1px black;
  left: calc(50% - 12px);
}
#table-center .card-counter[data-level="1"] {
  top: -22px;
}
#table-center .card-counter[data-level="2"] {
  bottom: -14px;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode * {
  background: white !important;
}
.player-board .neighbors {
  margin-top: 5px;
  font-size: 80%;
  display: flex;
  justify-content: space-between;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}

.player-table {
  width: 710px;
  position: relative;
  margin: 10px;
}
.player-table .decks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.player-table .decks .hidden-deck[data-empty=true] {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.player-table .decks .deck-counter {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  box-shadow: 0 0 3px 1px black;
  left: calc(50% - 12px);
  top: -12px;
}
.player-table .decks .name-and-tokens {
  flex: 1;
}
.player-table .decks .name-and-tokens .name-wrapper {
  font-family: "afterus-font";
  background: var(--player-color);
  color: white;
  font-size: 18pt;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  padding: 5px;
  border-radius: 10px;
}
.player-table .decks .name-and-tokens .tokens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.player-table .decks .name-and-tokens .tokens .tokens-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-table .decks .name-and-tokens .tokens .action-token {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.7333333333);
}
.player-table .decks .name-and-tokens .tokens .action-token[data-type="0"][data-color=ffe400] {
  background-position-x: 44.4444444444%;
}
.player-table .decks .name-and-tokens .tokens .action-token[data-type="0"][data-color="044396"] {
  background-position-x: 55.5555555556%;
}
.player-table .decks .name-and-tokens .tokens .action-token[data-type="0"][data-color=f29fc4] {
  background-position-x: 66.6666666667%;
}
.player-table .decks .name-and-tokens .tokens .action-token[data-type="0"][data-color=e7313a] {
  background-position-x: 77.7777777778%;
}
.player-table .decks .name-and-tokens .tokens .action-token[data-type="0"][data-color="98d1c6"] {
  background-position-x: 88.8888888889%;
}
.player-table .decks .name-and-tokens .tokens .action-token[data-type="0"][data-color="9f79b5"] {
  background-position-x: 100%;
}
.player-table .decks .name-and-tokens .tokens .action-token:not(:first-child) {
  margin-top: -45px;
}
.player-table .line-stock {
  min-width: 710px;
  margin-top: 10px;
}
.player-table .slot {
  position: relative;
  width: 142px;
  height: 198px;
}
.player-table .slot button.move {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 120;
  transform-origin: center center;
  background-color: white;
  background-image: url("img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5333333333);
  cursor: pointer;
  top: 42px;
}
.player-table .slot button.move.left {
  left: 5px;
  transform: rotate(180deg);
}
.player-table .slot button.move.right {
  right: 5px;
}
.player-table .slot button.remove {
  position: absolute;
  z-index: 120;
  cursor: pointer;
  top: 30px;
  white-space: break-spaces;
}
.player-table .slot button.remove .icon {
  width: 24px;
  height: 24px;
}
.player-table.move-phase button.move {
  display: block;
}
.player-table.move-phase button.move.hidden {
  display: none;
}
.player-table .rage-button {
  z-index: 1;
  position: absolute;
  right: 25px;
  width: 24px;
  top: 7px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.player-table .rage-button .rage.icon {
  width: 24px;
  height: 24px;
}

@font-face {
  font-family: "afterus-font";
  src: url("img/afterus-font.ttf.woff") format("woff"), url("img/afterus-font.ttf.svg#afterus-font") format("svg"), url("img/afterus-font.ttf.eot"), url("img/afterus-font.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
}

.selected-token-button {
  border: 3px solid #4871b6;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
#tables-and-center.double-column {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
}
#tables-and-center.double-column #current-player-table {
  display: none;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
  vertical-align: middle;
}
.icon.flower {
  background-position: 0% 0%;
}
.icon.fruit {
  background-position: 12.5% 0%;
}
.icon.grain {
  background-position: 25% 0%;
}
.icon.energy {
  background-position: 37.5% 0%;
}
.icon.point {
  background-position: 50% 0%;
}
.icon.rage {
  background-position: 62.5% 0%;
}
.icon.different {
  background-position: 75% 0%;
}
.icon.tamarin {
  background-position: 87.5% 0%;
}
.icon.reactivate {
  background-position: 100% 0%;
}

.action-button .icon, .log .icon, .dijitTooltipContents .icon, .object-tooltip .icon {
  width: 24px;
  height: 24px;
  margin: -2px 0px;
}

.action-token {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  background-image: url("img/action-tokens.png");
  background-size: auto 100%;
  vertical-align: middle;
  border-radius: 50%;
}
.action-token[data-type="1"] {
  background-position-x: 0%;
}
.action-token[data-type="2"] {
  background-position-x: 11.1111111111%;
}
.action-token[data-type="3"] {
  background-position-x: 22.2222222222%;
}
.action-token[data-type="4"] {
  background-position-x: 33.3333333333%;
}

.object-tooltip > div {
  padding: 5px;
}
.object-tooltip > div:not(:last-child) {
  border-bottom: 1px solid #2F81A4;
}
.object-tooltip .title {
  color: #2F81A4;
  text-transform: uppercase;
  font-size: 120%;
}
.object-tooltip .label {
  color: #2F81A4;
  text-transform: uppercase;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
