.card {
    display: inline-block;
    position: relative;
    width: 142px;
    height: 198px;
    border-radius: 8px;

    &.disabled {
      cursor: not-allowed;
      filter: contrast(0.6);
    }

    .card-sides {
        .card-side {
            border-radius: 8px;

            &>* {
                pointer-events: all !important;
                user-select: none;
            }

            &.back {  
                background-size: auto 100%;
                background-image: url('img/card-back.jpg');
            }

            &.front {
                &[data-type="0"] {
                    background-size: auto 100%;

                    @each $playerColor in $playerColors {
                        &[data-player-color="#{$playerColor}"] { 
                            background-image: url('img/cards-#{$playerColor}.jpg');
                        }
                    }

                    @for $index from 1 through 8 {
                        &[data-sub-type="#{$index}"] {
                            background-position-x: #{($index - 1) * 100% / 7};
                        }
                    }
                }

                &[data-level="1"] {
                    background-size: auto 400%;
                    background-image: url('img/cards-level1.jpg');

                    @for $type from 1 through 4 {
                        @for $index from 1 through 18 {
                            &[data-type="#{$type}"][data-sub-type="#{$index}"] {
                                background-position: #{($index - 1) * 100% / 17} #{($type - 1) * 100% / 3};
                            }
                        }
                    }
                }

                &[data-level="2"] {
                    background-size: auto 400%;
                    background-image: url('img/cards-level2.jpg');

                    @for $type from 1 through 4 {
                        @for $index from 1 through 12 {
                            &[data-type="#{$type}"][data-sub-type="#{$index}"] {
                                background-position: #{($index - 1) * 100% / 11} #{($type - 1) * 100% / 3};
                            }
                        }
                    }
                }

                .frame {
                    border: 3px dashed transparent;
                    position: absolute;
                    width: var(--width);
                    height: 23px;

                    &[data-position-index="0"] {
                        left: 0;
                    }
                    &[data-position-index="1"] {
                        left: calc(50% - (var(--width) / 2));
                    }
                    &[data-position-index="2"] {
                        right: 0;
                    }

                    &[data-row="0"] {
                        top: 92px;
                    }
                    &[data-row="1"] {
                        top: 126px;
                    }
                    &[data-row="2"] {
                        top: 160px;
                    }

                    &.disabled {
                        border-color: darkred;
                    }
                    &.applied {
                        border-color: lightgray;
                    }
                    &.remaining {
                        border-color: green;
                    }
                    &.selectable {
                        border-color: lightgreen;
                        cursor: pointer;
                    }
                    &.current {
                        //border-color: lightgreen;
                        box-shadow: 0 0 3px 5px lightgreen;
                    }

                    &.opened-right {
                        border-right-width: 0;
                    }
                    &.opened-left {
                        border-left-width: 0;
                    }
                }
            }
        }
    }    

    /*&.selectable:not(.disabled) {
        cursor: pointer;
        &:not(.selected) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.selected:not(.disabled) {
        box-shadow: 0 0 5px 8px #e273f5;

        .card-side {
            box-shadow: unset;
        }
    } */

    &.object {
        border-radius: 14px;

        .card-sides {
            .card-side {
                border-radius: 14px;

                &>* {
                    pointer-events: none;
                    user-select: none;
                }

                &.front {
                    background-size: auto 100%;
                    background-image: url('img/objects.jpg');

                    @for $number from 1 through 7 {
                        &[data-number="#{$number}"] {
                            background-position-x: #{($number - 1) * 100% / 6};
                        }
                    }
                }
            }
        }  
    }
}

/*@keyframes selectable-card-animation {
    0% { 
      //background: var(--background-lighter);
      box-shadow: 0 0 3px 2px #FFFFFF;
    }
    100% { 
      //background: var(--background-darker);
      box-shadow: 0 0 5px 3px #FFFFFF;
    }
}*/
