.card {
    display: inline-block;
    position: relative;
    width: 142px;
    height: 198px;
    border-radius: 8px;

    &.disabled {
      cursor: not-allowed;
      filter: contrast(0.6);
    }

    .card-sides {
        .card-side {
            border-radius: 8px;

            &>* {
                pointer-events: all !important;
                user-select: none;
            }

            &.back {  
                background-size: auto 100%;
                background-image: url('img/card-back.jpg');
            }

            &.front {
                &[data-type="0"] {
                    background-size: auto 100%;

                    @each $playerColor in $playerColors {
                        &[data-player-color="#{$playerColor}"] { 
                            background-image: url('img/cards-#{$playerColor}.jpg');
                        }
                    }

                    @for $index from 1 through 8 {
                        &[data-sub-type="#{$index}"] {
                            background-position-x: #{($index - 1) * 100% / 7};
                        }
                    }
                }

                &[data-level="1"] {
                    background-size: auto 400%;
                    background-image: url('img/cards-level1.jpg');

                    @for $type from 1 through 4 {
                        @for $index from 1 through 18 {
                            &[data-type="#{$type}"][data-sub-type="#{$index}"] {
                                background-position: #{($index - 1) * 100% / 17} #{($type - 1) * 100% / 3};
                            }
                        }
                    }
                }

                &[data-level="2"] {
                    background-size: auto 400%;
                    background-image: url('img/cards-level2.jpg');

                    @for $type from 1 through 4 {
                        @for $index from 1 through 12 {
                            &[data-type="#{$type}"][data-sub-type="#{$index}"] {
                                background-position: #{($index - 1) * 100% / 11} #{($type - 1) * 100% / 3};
                            }
                        }
                    }
                }

                .frame, .frame-group {
                    --left: unset;

                    height: 23px;
                    position: absolute;
                    left: var(--left);

                    &[data-row="0"] {
                        top: 92px;
                    }
                    &[data-row="1"] {
                        top: 126px;
                    }
                    &[data-row="2"] {
                        top: 160px;
                    }
                }

                .frame {
                    border: 3px dashed transparent;
                    width: var(--width);

                    &.disabled {
                        border-color: darkred;
                    }
                    &.applied {
                        border-color: lightgray;
                    }
                    &.remaining {
                        border-color: green;
                    }
                    &.selectable {
                        border-color: lightgreen;
                        cursor: pointer;
                    }
                    &.current {
                        box-shadow: 0 0 3px 5px lightgreen;

                        &.convert {
                            box-shadow: 0 0 3px 5px #f0ff21;
                        }
                    }

                    &.opened-right {
                        right: 0 !important;
                        border-right-width: 0;
                    }
                    &.opened-left {
                        left: 0 !important;
                        border-left-width: 0;
                    }

                    &.debug {
                        opacity: 0.8;

                        /*&[data-row="0"] {
                            top: 0px;
                        }
                        &[data-row="1"] {
                            top: 30px;
                        }
                        &[data-row="2"] {
                            top: 60px;
                        }*/

                        background: white;
                        color: black;
                        font-weight: bold;
                        display: flex;
                        font-size: 80%;

                        .icon {
                            margin: -2px;
                            width: 16px;
                            height: 16px;
                        }

                        &:hover {
                            opacity: 0.0;
                        }
                    } // TODO check 2nd row, both closed on 243
                }

                .frame-group {
                    display: flex;
                    justify-content: space-evenly;
                    right: var(--right);

                    .frame {
                        position: relative !important;
                        top: 0 !important;
                        left: unset !important;
                    }
                }
            }
        }
    }

    &[data-side="back"] {
        button {
            display: none;
        }
    }

    &.object {
        border-radius: 14px;

        .card-sides {
            .card-side {
                border-radius: 14px;

                &>* {
                    pointer-events: none;
                    user-select: none;
                }

                &.front {
                    background-size: auto 100%;
                    background-image: url('img/objects.jpg');

                    @for $number from 1 through 7 {
                        &[data-number="#{$number}"] {
                            background-position-x: #{($number - 1) * 100% / 6};
                        }
                    }

                    box-shadow: 0px 0px 3px 2px black;
                    cursor: not-allowed;
                }
            }
        }  

        &.current-phase {
            .card-sides .card-side.front {
                box-shadow: 0px 0px 3px 2px lightgreen;
            } 

            &:not(.disabled) .card-sides .card-side.front {
                cursor: pointer;
            }
        }

        &:not(.current-phase) {
            cursor: not-allowed;
            filter: contrast(0.6);
        }

        &.used {
            .card-sides .card-side.front {
                box-shadow: 0px 0px 3px 2px darkorange !important;
                cursor: not-allowed !important;
            } 
            
            cursor: not-allowed;
            filter: contrast(0.6);
        }
    }
}

.spectator-mode {
    .card.object {
        cursor: unset !important;
        filter: unset !important;
        .card-sides .card-side.front {
            cursor: unset !important;
        }
    }
}