.player-table {
  width: 653px;
  height: 420px;
  position: relative;
  margin: 10px;

  .background {
    position: relative;
    //top: 43px; // height: 
    height: 180px;
    //bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);

    &[data-color="f28700"] {
      background-image: url('img/playerboard-day.jpg');
    }

    @each $playerColor in $playerColors {
        &[data-color="#{$playerColor}"] { 
            background-image: url('img/player-board-#{$playerColor}.png');
        }
    }

  }

  .name-wrapper {
    color: var(--player-color);
    position: relative;
    display: flex;
    background: #FFFFFF88;
    padding: 5px;
    //border-radius: 15px 15px 0 0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }

  .slot {
    position: relative;
  }
}