.player-table {
  width: 710px;
  position: relative;
  margin: 10px;

  .decks {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .deck {  
      &[data-empty="true"] {
        background: #FFFFFF66;
        border-radius: 10px;
      }

      .see-top-card {
        position: relative;
        background: #FFFFFFBB;
        border-radius: 10px;
        z-index: 1;
        margin: 10px;
        text-align: center;
        height: 50px;
        top: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        //box-shadow: 0 0 3px 1px black;
        cursor: help;

        &[data-visible="false"] {
          display: none;
        }
      }
    }

    .name-and-tokens {
      flex: 1;

      .name-wrapper {
        font-family: 'afterus-font';
        background: var(--player-color);
        color: white;
        font-size: 18pt;
        text-align: center;
        text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
        padding: 5px;
        border-radius: 10px;
      }

      .tokens {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;

        .tokens-column {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .action-token {
          box-shadow: 0 0 3px 2px #000000BB;

          @each $playerColor in $playerColors {
            $i: index($playerColors, $playerColor) - 1;
            &[data-type="0"][data-color="#{$playerColor}"] { 
              background-position-x: #{($i + 4) * 100% / 9};
            }
          }

          &:not(:first-child) {
            margin-top: -45px;
          }
        }
      }
    }
  }

  .line-stock {
    min-width: 710px;
    margin-top: 10px;
  }

  .slot {
    position: relative;
    width: 142px;
    height: 198px;

    button.move {
      display: none;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 120;
      transform-origin: center center;
      background-color: white;
      background-image: url('img/right-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 60%;
      box-shadow: 0 0 5px 2px #00000088;
      cursor: pointer;
      top: 42px;

      &.left {
        left: 5px;
        transform: rotate(180deg);
      }
      &.right {
        right: 5px;
      }
    }

    button.remove {
      position: absolute;
      z-index: 120;
      cursor: pointer;
      top: 30px;
      white-space: break-spaces;

      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &.move-phase {
    button.move {
      display: block;

      &.hidden {
        display: none;
      }
    }
  }

  .rage-button {
    z-index: 1;
    position: absolute;
    right: 25px;
    width: 24px;
    top: 7px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .rage.icon {
      width: 24px;
      height: 24px;
    }
  }
}