.player-table {
  width: 653px;
  height: 420px;
  position: relative;
  margin: 10px;

  .background {
    position: relative; 
    height: 130px;
    background-size: 100% auto;

    @each $playerColor in $playerColors {
        &[data-color="#{$playerColor}"] { 
            background-image: url('img/player-board-#{$playerColor}.png');
        }
    }

  }

  .name-wrapper {
    color: var(--player-color);
    position: absolute;
    font-size: 18pt;
    top: 88px;
    left: 157px;
    text-align: center;
    width: 177px;
    text-shadow: 0 0 1px white, 0 0 2px white;
  }

  .action-token {
    position: absolute;
    top: 40px;
    left: 75px;

    &[data-type="null"] {
      display: none;
    }
    

    @each $playerColor in $playerColors {
      $i: index($playerColors, $playerColor) - 1;
      &[data-type="0"][data-color="#{$playerColor}"] { 
        background-position-x: #{($i + 4) * 100% / 9};
      }
    }
  }

  .line-stock {
    min-width: 710px;
  }

  .slot {
    position: relative;
    width: 142px;
    height: 198px;

    button.move {
      display: none;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 120;
      transform-origin: center center;
      background-color: white;
      background-image: url('img/right-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 60%;
      box-shadow: 0 0 5px 2px #00000088;
      cursor: pointer;
      top: 42px;

      &.left {
        left: 5px;
        transform: rotate(180deg);
      }
      &.right {
        right: 5px;
      }
    }
  }

  &.move-phase {
    button.move {
      display: block;

      &.hidden {
        display: none;
      }
    }
  }

  .rage-button {
    z-index: 1;
    position: absolute;
    right: 25px;
    width: 24px;
    top: 7px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .rage.icon {
      width: 24px;
      height: 24px;
    }
  }
}