$playerColors: 'ffe400', '044396', 'f29fc4', 'e7313a', '98d1c6', '9f79b5';

@import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-jump-to/bga-jump-to';
@import '../node_modules/bga-cards/bga-cards';
@import 'cards';
@import 'table-center';
@import 'playerboards';
@import 'player-table';

@font-face {
  font-family: 'afterus-font';
    src: url('img/afterus-font.ttf.woff') format('woff'),
    url('img/afterus-font.ttf.svg#afterus-font') format('svg'),
    url('img/afterus-font.ttf.eot'),
    url('img/afterus-font.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
}

.selected-token-button {
  border: 3px solid #4871b6;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;

  &.double-column {
      flex-direction: row-reverse;
      justify-content: center;
      align-items: start;

      #current-player-table {
        display: none;
      }
  }

  #tables {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
  }

}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/icons.png');
  background-size: auto 100%;
  vertical-align: middle;

  &.flower {
    background-position: #{0 * 100% / 8} 0%;
  }

  &.fruit {
    background-position: #{1 * 100% / 8} 0%;
  }

  &.grain {
    background-position: #{2 * 100% / 8} 0%;
  }

  &.energy {
    background-position: #{3 * 100% / 8} 0%;
  }

  &.point {
    background-position: #{4 * 100% / 8} 0%;
  }

  &.rage {
    background-position: #{5 * 100% / 8} 0%;
  }

  &.different {
    background-position: #{6 * 100% / 8} 0%;
  }

  &.tamarin {
    background-position: #{7 * 100% / 8} 0%;
  }

  &.reactivate {
    background-position: #{8 * 100% / 8} 0%;
  }
}

.action-button, .log, .dijitTooltipContents, .object-tooltip {
  .icon {
    width: 24px;
    height: 24px;
    margin: -2px 0px;
  }
}

.button-gain {
  border: 2px solid lightgreen;
}
.button-convert {
  border: 2px solid #e7b300;
}

.action-token {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  background-image: url('img/action-tokens.png');
  background-size: auto 100%;
  vertical-align: middle;
  border-radius: 50%;

  @for $type from 1 through 4 {
    &[data-type="#{$type}"] {
        background-position-x: #{($type - 1) * 100% / 9};
    }
  }
}

.object-tooltip {
  &>div {
    padding: 5px;

    &:not(:last-child) {
      border-bottom: 1px solid #2F81A4;
    }
  }

  .title {
    color: #2F81A4;
    text-transform: uppercase;
    font-size: 120%;
  }

  .label {
    color: #2F81A4;
    text-transform: uppercase;
  }
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;

  .last-round-text {
      display: inline-block;

      &.animate {
          animation: last-round-animation 2s 1 forwards ease-in-out;
      }
  }
}

@keyframes last-round-animation {
0% {
  transform: scale(1);
}
50% {
  transform: scale(3);
}
100% { 
  transform: scale(1);
}
}

#full-deck-popin {
  width: 800px;
  max-width: 95vw;
  
  #full-deck-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}