#table-center {
    //border: 2px solid #ffd752;
    //padding: 5px; 
    //border-radius: 15px;
    //background: #ffd75266;
    margin: 5px;

    #objects {
        //background: #2d2966cc;
        //border-radius: 8px;
        margin-bottom: 8px;
    }

    #center-board {
        background: url('img/table-center.jpg');
        width: 800px;
        height: 550px;
        position: relative;

        .hidden-deck {
            position: absolute;

            &[data-type="1"] { left: 226px; }
            &[data-type="2"] { left: 633px; }
            &[data-type="3"] { left: 432px; }
            &[data-type="4"] { left: 24px; }

            &[data-level="1"] { top: 333px; }
            &[data-level="2"] { top: 23px; }
        }
    }
}